Repository JoeMitchellJones/dyn-conf-demo: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-ui, build-api

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            ui/.* build-ui true
            api/.* build-api true
          base-revision: path-filtering
          config-path: .circleci/continue_config.yml

Add config splitting capabilities
  .circleci/config.yml
  .circleci/continue_config.yml
  api/.circleci-config-dependencies
  api/api_config.yml
  change-watch.txt
  ui/.circleci-config-dependencies
  ui/ui_config.yml
Due: build-ui, build-api

Fix job syntax
  .circleci/config.yml
Due: none

Change UI
  ui/ui_file.txt
Due: build-ui

Update configs with workflows
  api/api_config.yml
  ui/ui_config.yml
Due: build-ui, build-api

Change API
  api/api_file.txt
Due: build-api

change api and ui
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

Add support for run all modular
  .circleci/config.yml
  .circleci/shared_config.yml
  api/.circleci-config-dependencies
  api/api_config.yml
  change-watch.txt
  config-files.txt
  ui/.circleci-config-dependencies
  ui/ui_config.yml
Due: build-ui, build-api

Fix job typo
  .circleci/config.yml
Due: none

Add shared config name
  .circleci/config.yml
Due: none

Add shared command
  .circleci/continue-shared.yml
  api/api_config.yml
  ui/ui_config.yml
Due: build-ui, build-api

Change in ui
  ui/ui_file.txt
Due: build-ui

Change all
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

Add test of makoto's orb
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

remove old workflow
  .circleci/config.yml
Due: none

add missing env vars
  .circleci/config.yml
Due: none

Remove bad newline
  .circleci/config.yml
Due: none

fix indentation
  .circleci/config.yml
Due: none

API and UI changes
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

add logging
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

more logging
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

indentation
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

symbol change
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

Improved logging
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

fix quotes
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

Add newline to config file
  api/.circleci-config-dependencies
  api/api_file.txt
  ui/.circleci-config-dependencies
  ui/ui_file.txt
Due: build-ui, build-api

Add newline fix
  .circleci/config.yml
  api/.circleci-config-dependencies
  ui/.circleci-config-dependencies
Due: build-ui, build-api

test fix in select
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

Test new orb version
  .circleci/config.yml
  api/api_file.txt
  ui/ui_file.txt
Due: build-ui, build-api

Add config SDK generator
  .circleci/config.yml
  generate.js
  package-lock.json
  package.json
Due: none

Fix Typo
  .circleci/config.yml
Due: none

Fix another typo
  generate.js
Due: none

Param test
  .circleci/config.yml
Due: none

Add echo
  .circleci/config.yml
Due: none

Changing API
  api/api_file.txt
Due: build-api

Changed API
  api/api_file.txt
Due: build-api
